mixin gallery-main()
    +b.gallery-main()
        .container
            +e.inner
                +e.SPAN.title Фото нашего парка
                +e.content
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal1.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal2.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal3.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal3.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal3.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal3.png') style=`background-image:url(${require("./../images/gal1.png")})`)
                    +e.A.content-link(data-fancybox="gallery" href=require('./../images/gal3.png') style=`background-image:url(${require("./../images/gal1.png")})` )
                    +e.A.content-link(style=`background-image:url(${require("./../images/gal1.png")})` href="#")
                        +e.back
                            SPAN
                                | Смотреть
                                BR все фото

